*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    list-style: none; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-right: 30px;
    margin-left: 30px;
}

.navbar-item{
    background-color: whitesmoke;
}

.logo {
    width: 70px;
    height: auto;
    object-fit: contain;
}

.buttoncontact {
    padding: 23px;
}

.buttoncontact button {
    width: 150px;
    height: 40px;
    border: 0px solid black;
    border-radius: 12px;
    background-color: orangered;
    color: white;
}


body {
    background-color: rgb(197, 197, 197);
}

.judulreport {
    display: flex;
    justify-content: center;
}

.judulreport h2 {
    margin-top: 30px;
}

.report {
    padding: 40px;
}

.btn-primary {
    background-color: orangered;
    color: white;
    border: 0px;
    width: 120px;
    height: 40px;
    border-radius: 12px;
}

