.listall{
    margin: auto;
    width: 1300px;
}
.listhuman {
    margin-top: 120px;
    padding-bottom: 45px;
}
body {
    background-color: #f1f1f1;
}
.a123 {
    background-color: white;
    border-bottom: 0px;
    border-top: 1px solid white; 
}
.imgpencarian {
background-color: white;
border: 0px;
}
.imgpencarian1 {
    background-color: #f1f1f1;
    border: 0px;
}
.btn-primary {
    --bs-btn-color: none;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-box-shadow: none;
    --bs-table-color: none;
    --bs-table-bg: transparent;
    --bs-table-border-color: none;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: none;
    --bs-table-striped-bg: none;
    --bs-table-active-color: none;
    --bs-table-active-bg: none;
    --bs-table-hover-color: none;
    --bs-table-hover-bg: none;
}